#root {
  max-width: 1280px; /* limita el ancho máximo del contenido */
  margin: 0 auto;  /* centra horizontalmente */
  padding: 2rem; /* agrega espacio alrededor*/
  text-align: center; /* centra el texto */
}

.logo {
  height: 6em; /* altura */
  padding: 1.5em; /* espacio alrededor*/
  will-change: filter; /* indica que la propiedad filter cambiará */
  transition: filter 300ms; /* transición suave para el filtro */
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa); /* sombra al pasar el cursor */
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa); 
}

@keyframes logo-spin { 
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg); 
  }
}

@media (prefers-reduced-motion: no-preference) { 
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #ffffff;
}
